In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import math
from sklearn import linear_model
import pymysql                        
from sqlalchemy import create_engine 
from getpass import getpass

In [5]:
password = getpass('') 
engine = create_engine(f'mysql+pymysql://root:{password}@localhost/sakila')

········

In [6]:
query = '''
SELECT 
    film.film_id,
    film.title, 
    film.rating,
    film.length,
    film.rental_duration,
    film.rental_rate,
    film.replacement_cost,
    COUNT(rental.rental_id) AS rental_count_before_may,
    MAX(CASE
        WHEN rental.rental_date < '2005-05-01' THEN rental.rental_date
        ELSE NULL
    END) AS last_rental_date_before_may,
    MAX(CASE
        WHEN rental.rental_date BETWEEN '2005-05-01' AND '2005-05-31' THEN TRUE
        ELSE FALSE
    END) AS rented_in_may
FROM 
    film
LEFT JOIN inventory ON film.film_id = inventory.film_id
LEFT JOIN rental ON inventory.inventory_id = rental.inventory_id AND rental.rental_date < '2005-06-01'
GROUP BY 
    film.film_id;
'''
films_df = pd.read_sql_query(query, engine)

In [7]:
films_df

,film_id,title,rating,length,rental_duration,rental_rate,replacement_cost,rental_count_before_may,last_rental_date_before_may,rented_in_may
0,1,ACADEMY DINOSAUR,PG,86,6,0.99,20.99,2,None,1
1,2,ACE GOLDFINGER,G,48,3,4.99,12.99,0,None,0
2,3,ADAPTATION HOLES,NC-17,50,7,2.99,18.99,1,None,0
3,4,AFFAIR PREJUDICE,G,117,5,2.99,26.99,2,None,1
4,5,AFRICAN EGG,G,130,6,2.99,22.99,1,None,1
...,...,...,...,...,...,...,...,...,...,...
995,996,YOUNG LANGUAGE,G,183,6,0.99,9.99,0,None,0
996,997,YOUTH KICK,NC-17,179,4,0.99,14.99,0,None,0
997,998,ZHIVAGO CORE,NC-17,105,6,0.99,10.99,1,None,1
998,999,ZOOLANDER FICTION,R,101,5,2.99,28.99,1,None,1
999,1000,ZORRO ARK,NC-17,50,3,4.99,18.99,3,None,1

In [8]:
# Encoding categorical variables
films_df['rating'] = films_df['rating'].astype('category').cat.codes

In [9]:
# Replacing NaN values 
films_df['rental_count_before_may'] = films_df['rental_count_before_may'].fillna(0)

In [10]:
reference_date = pd.Timestamp('2005-05-01')
films_df['last_rental_date_before_may'] = pd.to_datetime(films_df['last_rental_date_before_may']).fillna(reference_date)
films_df['days_since_last_rental_before_may'] = (reference_date - films_df['last_rental_date_before_may']).dt.days

In [12]:
# Scale numerical variables
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
numerical_features = ['length', 'rental_duration', 'rental_rate', 'replacement_cost', 'rental_count_before_may', 'days_since_last_rental_before_may']
films_df[numerical_features] = scaler.fit_transform(films_df[numerical_features])

In [13]:
# Splitting the data
from sklearn.model_selection import train_test_split
X = films_df.drop(['film_id', 'title', 'rented_in_may', 'last_rental_date_before_may'], axis=1) 
y = films_df['rented_in_may'].astype('int') 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [14]:
# Creating logistic regression model
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

In [15]:
from sklearn.metrics import accuracy_score, precision_score, confusion_matrix

In [16]:
# Evaluating the model
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)

In [17]:
# Print metrics
print(f'Accuracy: {accuracy}')
print(f'Precision: {precision}')
print(f'Confusion Matrix:\n{conf_matrix}')

Accuracy: 0.945
Precision: 0.9185185185185185
Confusion Matrix:
[[ 65  11]
 [  0 124]]